body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.contact-form {
  background-color: #f0ecec;
  padding: 25px;
  width: 900px;  
  max-width: 700px; 
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.contact-form h2 {
  margin-bottom: 30px; 
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.contact-form button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
}

.send-btn {
  background-color: #28a745;
  color: white;
}

.cancel-btn {
  background-color: #dc3545;
  color: white;
}

@media (max-width: 768px) {
  .contact-form {
    width: 80%;
    padding: 20px;
  }
}